.content-container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.games-list {
  padding: 2rem;
  margin: 0;
  background: rgba(240,240,240,.5);

  .game {
    box-shadow: 3px 3px 3px rgba(69,69,69, .5);
    margin: .5rem 0;
    padding: 1rem;
    list-style: none;
    background-color: white;

    &__link-title {
      font-size: 2rem;
      font-weight: bold;
    }

    &__description {
      font-style: italic;
    }
  }
}
