.draw-shrimps-container {
  width: 100%;
}

.draw-shrimps {
  &__input {
    padding: .4rem .25rem;
  }

  &__button {
    cursor: pointer;
    font-weight: bold;
    border: none;
    box-shadow: 0 0 6px #666;
    border-radius: 0 6px 6px 0;
    padding: .4rem 1.5rem;
    background-color: #FBC4BD;

    &--clear {
      padding: .4rem 1.25rem;
      font-weight: normal;
      border-radius: 3px;
      box-shadow: 0 0 3px #dedede;
      background-color: #efefef;
    }
  }
}

.shrimp-drawings {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  height: auto;

  .shrimp-drawing {
    display: inline-block;
    animation-name: growAndShrink;
    animation-duration: 1.5s;
    animation-delay: .2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;

    &__name {
      font-size: 2.5rem;
      font-family: Arial, Helvetica, sans-serif;
    }

    &:nth-child(2n) {
      animation-delay: .5s;
    }

    &:nth-child(3n) {
      animation-duration: .75s;
    }

    &:nth-child(4n) {
      animation-delay: 0;
      animation-name: spin;
      animation-duration: 2.5s;
      animation-direction: normal;
      animation-timing-function: linear;
    }
  }
}

@keyframes growAndShrink {
  from {
    transform: scale(1) rotate(-25deg);
  }

  to {
    transform: scale(1.25) rotate(25deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
