.sharethis-container {
  width: 80%;
  max-width: 250px;
  position: relative;
  margin: 0 auto;
}

.sharethis__toggle {
  border: none;
  background: rgba(255, 166, 194, 0.5);
  color: black;
  cursor: pointer;
  border-radius: .25rem;
  padding: .5rem 1rem;
  box-shadow: 0px 0px 4px 2px rgba(90,90,90,0.75);
  transition: .5s all;

  &:hover {
    box-shadow: 0px 0px 1px 1px rgba(90,90,90,0.75);
  }
}

.sharethis__options {
  padding: 0;
}

.sharethis__dropdown {
  background: rgba(250,250,250,.9);
  box-shadow: 0 0 5px #999;
  border-radius: .75rem .75rem 0 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
}
