@font-face {
  font-family: 'shrimp_fontregular';
  src: url('./font/shrimpfont-webfont.woff2') format('woff2'),
       url('./font/shrimpfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  font-family: 'shrimp_fontregular', sans-serif;
  text-align: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.site-title {
  animation-name: shrinkALittle;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-direction: alternate;
  pointer-events: none;
  font-size: 10rem;
  text-transform: uppercase;
}

.landing-title .subtitle {
  font-size: 3rem;
}

.friendshrimp-landing {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  /* these two lines prevent them from adding more shrimp :((
    hopefully can figure out how to put the bg img on html tag then this wont matter */
  position: relative;
  overflow: hidden;
}

.main-nav__page-link {
  font-size: 1.5rem;
  padding: .5rem 1rem;
}


@keyframes shrinkALittle {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(.5);
  }
}
